local config = {
  colorscheme = 'catppuccin',
  lang = {
    rust = false,
    vala = false,
    latex = false,
    glslx = false,
    html = false,
    csharp = false,
    vue = false,
    javascript = true
  }
  tabnine = true,
}

return config;
